* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-color: white;

}

.top-head {
    height: 12%;
    border-top: 2px solid rgb(211, 211, 211);
    border-bottom: 2px solid rgb(211, 211, 211);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1000;
}

.left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: ; */
}

.right {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    background-image: url("https://www.dotandkey.com/cdn/shop/files/Vector_5.svg?v=1720438003&width=300");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50%;
    width: 70%;
    /* margin: 150px; */
}

.search-bar {
    display: flex;
    height: 90%;
    width: 50%;
    border: 2px solid rgb(161, 161, 161);
    border-radius: 5px;
}

input::placeholder {
    letter-spacing: 1%;
    color: gray;
    align-items: center;
}

#search-input {
    width: 100%;
    border: none;
    border-radius: 5px;

}

.search-icon {
    margin: 0% 5% 0% 5%;
    font-size: 100%;
}

.fa-solid {
    color: #000;
    font-size: 90%;
}

.shoping-cart{
    position: relative;
    display: inline-block;
}

#cart-count {
    position: absolute;
    top: -8px;
    right: -11px;
    color: red;
    font-weight: bold;
    width: 18px;
    height: 18px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.second-head {
    position: relative;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    margin-top: 50px;
    gap: 1%;
    padding: 2px;
}

.second-head::-webkit-scrollbar {
    display: none;
}

#img-section {
    height: 55vw;
    width: 100%;
    max-height: 400px;
    min-height: 100px;
    position: relative;
    background-position: center;
    background-size: cover;
    animation: imagechange 15s ease-in infinite alternate-reverse;
}

@keyframes imagechange {
    0% {
        background-image: url("https://www.dotandkey.com/cdn/shop/files/IMG_3047.jpg?v=1777030330&width=1600");
    }

    25% {
        background-image: url("https://www.dotandkey.com/cdn/shop/files/Desktop_Banner_2.jpg?v=1773317831&width=1600")
    }

    50% {
        background-image: url("https://www.dotandkey.com/cdn/shop/files/homepage_desktop_43b08fd3-671b-4944-9bcb-bb3129fa4920.jpg?v=1781526408&width=1600");
    }

    75% {
        background-image: url("https://www.dotandkey.com/cdn/shop/files/MOIST_DESK_be5518ac-2e4e-4dc4-878f-a803c7677b21.jpg?v=1781518488&width=1600");
    }

    100% {
        background-image: url("https://www.dotandkey.com/cdn/shop/files/DESK1706161615_188a2232-fad6-44b8-8f98-9d958b114a8f.jpg?v=1776975999&width=1600");
    }
}

.product-head {
    padding-top: 20px;
    height: 60px;
    width: 100%;
    background-color: white;
    color: black;
    align-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    border-top: 1px solid black;
}

.container {
    min-height: 400px;
    max-height: 2780px;
}

.dot-and-key {
    background-image: url("https://www.dotandkey.com/cdn/shop/files/Group_1400004106_b411ac76-99dc-4676-9d4b-e354a07010f8.png?format=webp&v=1782156629&width=600");
    height: 70px;
    width: 100%;
    margin-bottom: 1px;
    margin-top: 1px;
    border: 1px solid rgb(207, 103, 103);
    background-color: #a7eef3;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    font-weight: 600;
    height: 20px;
    /* background-color: #f44e4e; */
    margin-top: 30px;
}

.product-title {
    height: 80%;
    min-width: 100%;
    max-width: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 2%;
    padding: 10px;
    font-size: 10%;
}

/* .product-title::-webkit-scrollbar {
    display: none;
} */

.product-title a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-title button {
    height: 25%;
    width: 25%;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
    background-color: white;
}

.in-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    flex-wrap: nowrap;
    margin-left: 10px;
    padding: 10px;
    scrollbar-width: none;
    /* For Firefox */
}

.in-container::-webkit-scrollbar {
    display: none;
}

.box {
    min-height: 50%;
    max-height: 80%;
    width: 100%;
    /* max-width: 30%; */
    /* border:2px solid gray; */
    padding: 15px;
    background-color: white;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
    transition: .4s;
}

.box:hover {
    transform: scale(1.08);
}

.outer-box {
    border: 2px solid rgb(247, 241, 241);
    height: 350px;
    width: auto;
    flex: 0 0 180px;
    background-color: white;
    border-radius: 20px;
    transition: .4s;
}

.outer-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.benefits-print {
    margin-top: 8px;
    margin-left: 5px;
    font-size: 9px;
    background-color: #ebebeb;
    display: inline-block;
    border-radius: 5px;
    padding: 0px 5px;
}

.title-print {
    height: 30px;
    margin-top: 4px;
    margin-left: 8px;
    font-size: 10px !important;
    font-weight: bold;
    color: #111;
    line-height: 10px;
    text-align: left;
}

.rating {
    margin-left: 5px;
    display: flex;
    align-items: center;
    gap: 1px;
    font-family: Arial, sans-serif;
}

.stars {
    color: #f5a623;
    font-size: 70%;
    letter-spacing: 1px;
}

.reviews {
    margin-top: 0px;
    font-size: 10px;
    color: #666;
}

.weight-gm {
    display: flex;
    /* gap: 10px; */
}

.weight {
    margin-left: 5px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 40px;
    height: 23px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}


.money-div {
    margin-top: 5px;
    font-size: 13px !important;
    display: block;
    color: #000;
    padding-left: 5px;
    align-items: flex-end;
    font-weight: 600 !important;
}

.non-bold {
    font-size: 15px;
}

.pcl-offer {
    background: linear-gradient(90deg, #ffe2e5 0, #fff7f9);
    margin: 0px 5px 0;
    border-radius: 10px;
    padding: 2px 7px;
    width: fit-content;
    flex-wrap: wrap;
    color: #ff40b1;
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: 700;
}

.cart {
    height: 20px;
    width: 90%;
    border-radius: 10px;
    background-color: #ff4081;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: white;
    margin: 4px auto;
    transition: .3s;
}

.cart:hover {
    background-color: #ff006a;
    cursor: pointer;
}

.Addtocart {
    font-size: 10px;
    font-weight: bold;
}

.feature {
    margin-top: 30px;
    height: 200px;
    width: 100%;
    background-color: rgb(246, 184, 195);
}

#feature-head{
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    letter-spacing: 1px;
}

.feature-img{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pro-img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
}

.information-div{
    margin-top: 10px;
    height: 50px;
    width: 100%;
    font-size: 20px;
    border-top: 1px solid rgb(21, 18, 18);
    border-bottom: 1px solid rgb(21, 18, 18);
    display: flex;
    align-items: center;
    font-weight: bold;
}

.information{
    position: absolute;
    left: 10px;
}

.information-div i{
    position: absolute;
    right: 20px;
}

footer{
    height: 220px;
    width: 100%;
    background-color: rgb(159, 239, 213);
    display: flex;
    border: none;
    padding: 5px;
    margin-top: 10px;
}

.foot-box{
    height: 220px;
    width: 100%;
    font-size: small;
    line-height: 15px;
}
ol{
    list-style: none;
}

h2{
    padding-bottom: 2px;
}

.search{
    display: flex;
    margin-top: 10px;
    border: 1px solid rgb(147, 47, 47);
    border-radius: 10px;
    width: 100%;
}

.inp-box{
    height: 30px;
    width: 100%;
    border: none;
    border-radius: 10px 0 0 10px;
    padding-left: 10px;
}

.sign-up{
    height: 30px;
    width: 100px;
    border: none;
    background-color: #ff4081;
    color: white;
    font-weight: bold;
    border-radius: 0 10px 10px 0;
}

.promoation-logo{
    height: 30px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.social-media{
    margin-top: 10px;
}

.copyright{
    display: flex;
    justify-content: center;
    background-color: rgb(159, 239, 213);
    color: black;
    font-size: small;
}

#moisturizer,
#sunscreen,
#serum-section,
#facewash{
    scroll-margin-top: 140px;
}

.active{
    border: 2px solid hsl(325, 100%, 63%);
    color: #ff4081;
}

#search-input:focus{
    outline:none;
}

.search-bar:focus-within{
    border:2px solid #ff4081;
}

.hide-price{
    display:none;
}

.btn-active{
    border: 2px solid #ff4081;
    color: #ff4081;
}
